{% extends 'base.html.twig' %}

{% block title %}Informatii{% endblock %}

{% block body %}



    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">INFORMATII</h2>
        </div>
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Scurt istoric</h2>
                <p class="mt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet lacus et purus rhoncus suscipit sit amet quis turpis. Donec vel leo non metus vulputate semper nec eget sem. Donec mattis ligula eget rhoncus accumsan. Sed fringilla pulvinar elit, eu sollicitudin lectus placerat quis. Mauris faucibus sed ligula non vestibulum. Integer tempus ligula eget leo laoreet dignissim. Aenean rhoncus gravida ante. Pellentesque sed erat eu ipsum pulvinar dignissim dictum sed nibh. Donec vulputate laoreet odio, id tristique dolor efficitur at. In egestas, lectus et gravida mollis, lacus ipsum porta odio, quis tempor urna lectus vulputate felis.</p>

                <p class="mt-6">Quisque lobortis eu justo sit amet rhoncus. Fusce eget hendrerit eros, egestas posuere risus. Nullam id libero sit amet enim commodo fringilla at eu urna. In commodo, ipsum a fermentum accumsan, quam enim feugiat justo, ut ultricies nulla sem nec massa. Nulla in orci luctus, euismod magna sed, ultricies quam. Pellentesque lectus magna, pellentesque ut mauris ut, fringilla lobortis lorem. Suspendisse convallis vehicula placerat. Phasellus varius commodo quam a sagittis. Nullam venenatis feugiat erat, ac mattis arcu feugiat varius. In ut lacus eu ipsum pulvinar auctor at at arcu. Nulla pretium aliquet lacus, sit amet blandit neque aliquet sed. Praesent aliquam nec magna quis mattis. Sed vehicula felis quis elementum convallis.</p>

                <p class="mt-6">Quisque in purus eget tellus scelerisque dapibus ac vitae ex. Sed tempor tincidunt vehicula. Donec nec ligula sem. Pellentesque vestibulum nulla id nisl varius, at volutpat tortor luctus. Proin ut erat nisl. Cras euismod ante vitae commodo gravida. Donec quis urna quis arcu aliquam ornare. Phasellus maximus mi lobortis, consectetur mauris sed, tempus mauris. Nullam maximus enim vitae facilisis aliquet.</p>

                <p class="mt-6">Aliquam velit dolor, molestie eget porttitor accumsan, dictum tempus dui. Sed vel purus a urna aliquam mollis ac sed magna. Nulla justo quam, euismod vel mauris ac, elementum vehicula sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus porta arcu, sit amet congue purus ullamcorper malesuada. Aliquam varius, justo et eleifend tempor, nibh metus porttitor neque, a eleifend justo nisi non orci. Morbi porta erat vitae nisl tristique congue. Vivamus at nisi massa. Duis convallis velit suscipit tempus vestibulum.</p>

                <p class="mt-6">Quisque eget nibh vestibulum, rhoncus quam vel, varius mauris. Proin pellentesque auctor sem vitae molestie. Mauris auctor lectus vel semper suscipit. In fermentum rhoncus suscipit. Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam semper nunc ligula, sit amet gravida sem posuere condimentum.</p>

            </div>
        </div>


    </div>

{% endblock %}
