<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - eTicket. </title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <!-- <link rel="icon" href="favicon.png"> -->

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

    {% include 'common/nav.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'common/footer.html.twig' %}

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('custom') }}

</body>
</html>