{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <h1>Toate filmele</h1>
    {% for movie in movies %}
        <img style="width: 100px " src="{{ movie.poster_path }}"/>
        <p><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></p>
    {% endfor %}

{% endblock %}